@import url(reset.css);
html, body {
	height:100%; /* needed for container min-height */
	/*background: #fff url(background.jpg) top center no-repeat;*/
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #404040;
	text-align: center;
}

.flash {
}

.flashBody {
	min-width: 1021px;
	min-height: 600px;
}

* html  {
	height: 100%;
}

*+html  {
	height: 100%;
}

.nonflash {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width: 800px;
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/
	min-height:100%; /* real browsers */
}

